<a href="list-rest-stations" style="color: black; text-decoration: none">

    <div class="card a-shadow border-0 mb-4">
        <div style="height:164px; overflow: hidden;"><img src="/assets/img/еда/{{data.img}}.jpg" class="card-img-top" alt="..."></div>
            <div class="card-body py-3 px-3" style="position: relative">
            
                <h5 style="font-weight: 800;">{{data.title}}</h5>

                <div style="position: absolute; top:13px; right:16px;">
                    <span class="badge badge-danger timelabel">1 час 30 мин</span>
                </div>
                

                <!-- <div class="trainview mt-3">
                    <img class="train" src="/assets/img/train.png" height="16" alt="">
                    <div class="trajectory">
                        <div class="prog"></div>
                        <div class="stations">
                            <div class="station"></div>
                        </div>
                        
                    </div>
                </div> -->

                <p class="card-text"></p>
        </div>
    </div>

</a>