<div class="d-flex flex-wrap align-items-center justify-content-center f">
        <div class="col px-4 flex-fill mt-4" >
            
            <h3 style="font-weight: 800;">Введите номер билета</h3>
            
        </div>


        <div class="col px-4 mt-4 flex-fill">
            <div class="d-flex justify-content-center">
                    <div class="flex-fill form-group mr-2 mb-2 ">
                        <input type="text" [value]="ticketNumber" (input)="ticketNumber = $event.target.value" class="form-control" placeholder="XX1234567 123456">
                        <div class="invalid-feedback">
                                Билет недействителен либо номер указан неверно
                        </div>
                    </div>
            </div>

            <figure class="figure mx-2">
                <img src="/assets/img/guide3.png" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">Номер билета указан под QR кодом в формате ХХ0000000 000000.</figcaption>
            </figure>

            <div class="d-flex justify-content-between mt-4">
                    <button type="button" routerLink="/init" class="btn btn-light flex-grow-1 mr-1">Назад</button>
                    <button type="button" (click)="onConfirmBtnClick()" class="btn btn-danger flex-grow-1 ml-1">Подтвердить</button>
            </div>      
        </div>
</div>