<div class="d-flex flex-wrap align-items-center justify-content-center f">
        <div class="col px-4 flex-fill mt-4" >
            
            <h3 style="font-weight: 800;">Ввод номера билета</h3>
            
        </div>


        <div class="col px-4 mt-4 flex-fill">
            <div class="d-flex justify-content-center">
                    <div class="flex-fill form-group mr-2 mb-2 ">
                        <input type="text" class="form-control" id="ticketId" placeholder="XX1234567 123456">
                    </div>
                <button type="submit" class="btn btn-primary mb-2">ОК</button>
            </div>

            <figure class="figure mx-2">
                <img src="/assets/img/guide3.png" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">Укажите номер билета, чтобы мы знали, на каком поезде вы едете. Это можно сделать одним из двух предложенных способов.</figcaption>
            </figure>

            <div class="d-flex justify-content-between mt-4">
                    <button type="button" routerLink="/init" class="btn btn-light flex-grow-1 mr-1">Назад</button>
                    <button type="button" routerLink="/qr-enter" class="btn btn-danger flex-grow-1 ml-1">Ввести код вручную</button>
            </div>      
        </div>
</div>