<div class="d-flex flex-wrap align-items-center justify-content-center f">
        <div class="col px-4 flex-fill mt-5" >
            
            <h3 style="font-weight: 800;">Сканировать QR</h3>
            
        </div>

        <figure class="figure mt-4">
            <img src="/assets/img/guide2_s.png" class="figure-img img-fluid " alt="...">
        </figure>

        <div class="col px-4 flex-fill">
            

            <div class="d-flex justify-content-between mt-2">
                    <button type="button" routerLink="/qr-scanner" class="btn btn-danger flex-grow-1 mr-1">Сканировать</button>
                    <button type="button" routerLink="/qr-enter" class="btn btn-light flex-grow-1 ml-1">Ввести вручную</button>
            </div>      
        </div>
</div>