
<div class="d-flex flex-wrap align-items-center justify-content-center f">
       

        
        <div class="d-flex flex-column mt-3 px-3">

                <div class="card a-shadow border-0 mb-4">
                        <div style="height:80px; overflow: hidden;"><img src="/assets/img/еда/{{data.img}}.jpg" class="card-img-top" alt="..."></div>
                            <div class="card-body py-3 px-3" style="position: relative">
                              
                                <h5 style="font-weight: 800;">{{data.title}}</h5>
                    
                                <div style="position: absolute; top:13px; right:16px;">
                                    <span class="badge badge-danger timelabel">1 час 30 мин</span>
                                </div>
                        </div>
                    </div>

        </div>


        <div class="col px-4 flex-fill" >
            
            <h3 style="font-weight: 800;">Меню</h3>
                
        </div>

        <div class="col px-4 flex-fill mt-4" >
            
             <h5 style="font-weight: 800;">Шаурма с курицей</h5>
                    
        </div>
</div>



