<div class="d-flex align-items-center justify-content-center ">
        <div class="col px-4 mb-2 mt-5">
            
            <h3 style="font-weight: 800;">Сканирование билета</h3>
            
            <figure class="figure mx-2 my-5">
                <img src="/assets/img/guide1.png" class="figure-img img-fluid rounded" alt="...">
                <figcaption class="figure-caption">Укажите номер билета, чтобы мы знали, на каком поезде вы едете. Это можно сделать одним из двух предложенных способов.</figcaption>
            </figure>

            <div class="d-flex justify-content-between ">
                    <button type="button" routerLink="/qr-scanner" class="btn btn-danger flex-grow-1 mr-1">Сканировать</button>
                    <button type="button" routerLink="/manual-scanner" class="btn btn-light flex-grow-1 ml-1">Ввести вручную</button>
            </div>     
        </div>
</div>