
<div class="d-flex flex-wrap align-items-center justify-content-center f">
    
        <div class="col px-4 mt-4 flex-fill" >
            
            <h3 style="font-weight: 800;">Корзина</h3>
                
        </div>

        <div class="col px-4 flex-fill mt-2" >


             <div class="media my-2">
                <div style="width: 64px; height: 64px; overflow: hidden; border-radius: 10px">
                    <img src="https://www.delivery-club.ru/media/cms/relation_product/11267/304598730_m200.jpg" height="64" class="mr-3" alt="...">
                </div>
                <div class="media-body ml-2">
                  <h6 style="font-weight: 400;" class="mt-1">Куриная шаурма обычная</h6>
                  <div class="">
                    
                    <form class="form-inline">
                        
                        <button type="button" class="btn btn-primary btn-sm">
                            -
                        </button>
                        <input style="width: 30px" class="form-control form-control-sm mx-1" type="text" placeholder="0">
                        <button type="button" class="btn btn-primary btn-sm">
                            +
                        </button>
                        <span class="badge badge-danger timelabel ml-3">390 руб.</span>
                    </form>
                  </div>
                  
                </div>
            </div>
                    
        </div>




        <div class="col px-4 mb-4 fixed-bottom" >
            
            <button type="button" style="width:100%" class="btn btn-danger ">
                Оплатить заказ (390 руб.)
            </button>
                    
        </div>

        
</div>



