
<div class="d-flex flex-wrap align-items-center justify-content-center f">
    
        <div class="col px-4 mt-4 flex-fill" >
            
            <h3 style="font-weight: 800;">Корзина</h3>
                
        </div>

        <div *ngFor="let el of data" class="col px-4 flex-fill mt-2" >


             <div class="media my-2">
                <div style="width: 64px; height: 64px; overflow: hidden; border-radius: 10px">
                    <img src="https://www.delivery-club.ru/media/cms/relation_product/11267/304598730_m200.jpg" height="64" class="mr-3" alt="...">
                </div>
                <div class="media-body ml-2">
                  <h6 style="font-weight: 400;" class="mt-1">{{el[0]}}</h6>
                  <div class="">
                    
                    <form class="form-inline">
                        <span class="badge badge-danger timelabel ml-3">{{el[1]}}</span>
                    </form>
                  </div>
                  
                </div>
            </div>
                    
        </div>




        <div class="col px-4 pb-4 pt-3 fixed-bottom" style="background-color: white" >
            
            <button type="button" routerLink="/order-status"  style="width:100%" class="btn btn-danger ">
                Оплатить заказ ({{price}} руб.)
            </button>
                    
        </div>

        
</div>



