<div style="position: relative">

    <!--<app-preloader [isHidden]=".rest.status"></app-preloader>-->


    <div class="d-flex flex-wrap align-items-center justify-content-center f">
            <div class="col px-4 flex-fill mt-4" >
                
                <h3 style="font-weight: 800;">Рестораны</h3>
                
            </div>

            
            <div class="d-flex flex-column mt-3 px-3">

                    <div *ngFor="let itemdata of testdata">
                        <app-list-rest-item [data]="itemdata"></app-list-rest-item>
                    </div>

            </div>
    </div>

</div>
